evaluate_tailgating/*.csv
extras_tailgating/*
*/__pycache__
*/log/
BiseNetV2_LaneNet_Tusimple_Model_Weights/
../*/*/__pycache__
__pycache__
../source_tailgating/models/__pycache__
../source_tailgating/utils/__pycache__
